.modal-panel {
    /** Vienmēr taisām, lai pārklāj visu ekrānu
     * Sākuma stadijā ir overflow hidden, lai &__w varētu
     * nopoziconēt ārpus ekrāna un tad ar animāciju iebīdīt ekrānā
     */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
        
    z-index: @modalPanelZIndex;
    overflow: hidden;
    display: none;

    &:extend(.modal-panel-remove-tap-highlite);

    /** Pirmā stadija, kad panelis ir redzams un pārklāj visu ekrānu */
    &--visible {
        display: block;
    }

    /** Animācija ir beigusies, liekam lai overflow ir scrolējam */
    &--ready {
        overflow: visible;
        position: absolute;
    }

    /** Gadījums, kad otrs panelis nāk pa virsu un vajag, lai body scrollbars pazūd */
    &--disabled {
        overflow: hidden;
        position: fixed;
    }

    /** 
     * Paneļa background, kurš ir izstiepts pa visu ekrāna augstumu 
     * Šis ir fixed, lai uz ios taisot overscroll tas stāvētu uz vietas
     * uz iOS 7 - iet līdzi un nestāv uz vietas
     */
    &__bg {
        content: '';
        display: block;

        /** Fixed: iOS gadījumā, lai stāv */
        position: fixed;
        top: 0;
        /** 
         * Height tiek definēts panel.js, jo height var būt custom 
         * 120% vajag tikai, ja ir fullheight
         */
        /** height: 120%; */

        background-color: @modalPanelContentBackgroundColor;

        z-index: 10;
    }
    &--fullheight &__bg {

    }

    &__header {
        /** Fixed: iOS gadījumā, lai stāv */
        position: fixed;
        top: 0;

        height: @modalPanelHeaderHeight;

        border-bottom: 1px solid @modalPanelZoningColor;

        background: #fff;

        z-index: 100;
    }
    
    &__content {
        position: absolute;
        z-index: 90;

        box-sizing: border-box;

        top: 0;

        /** Atbrīvojam vietu header */
        padding-top: @modalPanelHeaderHeight + 1px;
    }

    &__footer {
        position: absolute;
        
        bottom: 0;
    }


    &--left &__bg,
    &--left &__header,
    &--left &__footer,
    &--left &__content {
        left: 0;
    }
    &--right &__bg,
    &--right &__header,
    &--right &__footer,
    &--right &__content {
        right: 0;
    }


    &__close {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: @modalPanelHeaderHeight;
        height: @modalPanelHeaderHeight;
        line-height: @modalPanelHeaderHeight;
        text-align: center;
        color: silver;
        text-decoration: none;
        cursor: pointer;

        border-right: 1px solid @modalPanelZoningColor;
    }

    &__heading {
        position: absolute;
        left: @modalPanelHeaderHeight;
        top: 50%;
        margin: -@modalPanelHeaderHeight/4 0 0;
        padding: 0 @modalPanelSidePadding;
        
        height: @modalPanelHeaderHeight/2;
        line-height: @modalPanelHeaderHeight/2;

        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
    }
}