.modal-panel {

    /** Vienmēr taisām, lai pārklāj visu ekrānu
     * Sākuma stadijā ir overflow hidden, lai &__w varētu
     * nopoziconēt ārpus ekrāna un tad ar animāciju iebīdīt ekrānā
     *
     * Mobile safari note: nedrīkst taisīt fixed, jo tad pazūd viss
     * flows, un parādās bottom pogas un adreses josla. (ja tie bija
     * samazināti, kad tiek skrollēts uz leju)
     * Fixed elements var būt augstāks par window un tā pat neparādās
     * scrollbars, un tas ir tas, kas liek safari domāt,
     * ka lapā satura nav (laikam tā ir)
     */
    position: absolute;
    top: 0;

    &,
    &__bg,
    &__header,
    &__footer {
        pointer-events: none;
        visibility: hidden;
    }

    /**
     * Šādi taisām, jo uzlikt display block ir dārgi
     * reveal animācija nedaudz iebrezē
     */
    width: 100%;
    height: 100%;
    display: block;
    z-index: @modalPanelZIndex;
    overflow: hidden;

    /**
     * Paneļa background, kurš ir izstiepts pa visu ekrāna augstumu
     * Šis ir fixed, lai uz ios taisot overscroll tas stāvētu uz vietas
     * uz iOS 7 - iet līdzi un nestāv uz vietas
     */
    &__bg {
        content: '';
        display: block;

        /** Fixed: iOS gadījumā, lai stāv */
        position: fixed;
        top: 0;
        /**
         * Height tiek definēts panel.js, jo height var būt custom
         * 120% vajag tikai, ja ir fullheight
         */
        /** height: 120%; */

        background-color: #fff;

        z-index: 10;
    }

    &__header {
        /** Fixed: iOS gadījumā, lai stāv */
        position: fixed;
        top: 0;
    }


    &__header,
    &__footer {
        /** Fixed: iOS gadījumā, lai stāv */
        position: fixed;
        z-index: 100;
    }

    &__content {
        /** Šeit saturs tiek skrollēts, un te būs scrollbars. Tāpēc fixed, lai stāv uz vietas */
        position: fixed;
        z-index: 90;
        top: 0;

        /**
         * Lai noturētu scrollTop, kad panelis tiek slēpts
         * Te vajag, lai ir &__content-inner elements
         */
        overflow: hidden;
        box-sizing: border-box;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
    }


    /** Pirmā stadija, kad panelis ir redzams un pārklāj visu ekrānu */
    &--visible,
    &--visible &__bg,
    &--visible &__footer,
    &--visible &__header {
        pointer-events: auto;
        visibility: visible;
    }

    /** Animācija ir beigusies, liekam lai overflow ir scrolējam */
    &--ready {
        overflow: visible;
        position: absolute;
    }
    &--ready &__content {
        overflow: visible;
    }

    /** Gadījums, kad otrs panelis nāk pa virsu un vajag, lai body scrollbars pazūd */
    &--disabled {
        overflow: hidden;
        position: fixed;
    }
    &--disabled &__content {
        overflow: hidden;
    }
}