@overlayZIndex: 1000;
@modalPanelZIndex: @overlayZIndex+10;
@modalPanelContentBackgroundColor: #f3f3f3;
@modalPanelZoningColor: #ececec;
@modalPanelHeaderHeight: 56px;
@modalPanelSidePadding: 12px;
@modalPanelFooterHeight: 56px;

.modal-panel-remove-tap-highlite {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}